*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1,h3{
    color: #b92b27;
}

#login{
    color:brown;
    background: rgb(250, 249, 248);
}
#signup{
    color: gold;
    background: rgb(192, 171, 143);
}
.upvote{
    background:lightgreen;
}


div[id="Hii"] p{
    color: blueviolet;
}

/* .answer{
    background: lightblue;
} */

.follow{
    background: rgb(23, 230, 220);
    color: black;
}

.i{
    text-decoration: none;
}

ul li a {
    color: rgb(60, 238, 149);

}


hr+h2{
    background: #000;
    color: orchid;
    width: 50%;
    text-align: right;
}

.upvote + button{
    color: rgb(14, 13, 12);
    background: rgb(0, 255, 213);
    /* border: solid rgb(17, 16, 16); */
}

div >input{
    background: lightgray;;
    color: rgb(11, 12, 12);
}

input[type="text"]{
    color: rgb(17, 9, 9);
    background:lightblue;
}

input[type]{
 border:  orange solid;
}


button:hover{
    background: #000;
    color: white;
}

button:active{
    background: pink;
}


p:active {
    font-weight: bold;
    color:  forestgreen;
}
/* .bro:active{
    background: gold;
} */

input[type="radio"]:checked +label{
color: red;
font-weight: bold;
}

.new:nth-of-type(3){
    background-color: lightgreen;
}

h2::first-letter{
    color: blue;

}
p::first-line{
    color: aqua;
}
p::selection{
    color:silver;
    background: #000;
}

h1::first-letter{
    color:gold;
}