


h1 {
    color: aqua;
    
    /* text-align: right; */
    /* border: solid; */
     /* width: 60%;  according to parent element */
     text-align: center;
    text-decoration: wavy red underline;
    letter-spacing: 10px;
    font-size:40px;
    font-family:'Times New Roman', Times, serif;
}
h2 {
    color: orange;
    text-align:center

}
p {
   color: black;
   text-align:justify;
   line-height: 2;
   font-size: 15px;
}

a{
    /* text-decoration: none; */
    color: rgb(0, 204, 255);
}

li{
    line-height:1;
}

button{
    text-align: center;
    width: 100%;
    border: solid silver 10px;
    background: gold;
}