/* h2{
    text-align: center;
} */
.face{
    height: 400px;
    width: 400px;
    background-color: gold;
    border-radius: 50%;
    
}

.mouth{
    height:80px;
    width: 200px;
    background:brown;
    position: absolute;
    top: 250px;
    left: 100px;
    border-radius: 0 0 50px 50px;
}

.right,.left{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    top:100px;
    left: 100px;
}
.right{
    left:250px;
}
